In [105]:
import numpy as np
import pandas as pd
import os

In [106]:
os.listdir('../datasets')

['home_value_data.csv']

In [107]:
df = pd.read_csv('../datasets/home_value_data.csv')
df.head()

,zip_code,city,state,metro,county,date,value
0,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1996-04,334200.0
1,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1996-05,335400.0
2,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1996-06,336500.0
3,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1996-07,337600.0
4,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1996-08,338500.0

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4202944 entries, 0 to 4202943
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   zip_code  int64
 1   city      object
 2   state     object
 3   metro     object
 4   county    object
 5   date      object
 6   value     float64
dtypes: float64(1), int64(1), object(5)
memory usage: 224.5+ MB

In [109]:
df.zip_code = df.zip_code.astype(str)

In [110]:
df.value.value_counts()

85100.0      2611
89000.0      2589
88200.0      2568
89400.0      2564
84700.0      2560
             ...
2229300.0       1
2229100.0       1
2229000.0       1
2228800.0       1
2001400.0       1
Name: value, Length: 24969, dtype: int64

In [111]:
df.date.min(), df.date.max()

('1996-04', '2018-11')

In [81]:
dfs = []
ranges = []

for i in range(0, len(df), 500000):
    print(i)
    x, y = i, (i + 500001)
    print(x, y)
    ranges.append((x, y))
    df = 'df_' + str(y)
    dfs.append(df)

0
0 500001
500000
500000 1000001
1000000
1000000 1500001
1500000
1500000 2000001
2000000
2000000 2500001
2500000
2500000 3000001
3000000
3000000 3500001
3500000
3500000 4000001
4000000
4000000 4500001

In [82]:
dfs

['df_500001',
 'df_1000001',
 'df_1500001',
 'df_2000001',
 'df_2500001',
 'df_3000001',
 'df_3500001',
 'df_4000001',
 'df_4500001']

In [83]:
ranges

[(0, 500001),
 (500000, 1000001),
 (1000000, 1500001),
 (1500000, 2000001),
 (2000000, 2500001),
 (2500000, 3000001),
 (3000000, 3500001),
 (3500000, 4000001),
 (4000000, 4500001)]

In [112]:
dictionary = {}

for i in range(0, len(df), 500000):
    x, y = i, (i + 500001)
    df_name = 'df_' + str(y)
    dictionary.update({df_name: (x, y)})

In [113]:
dictionary

{'df_500001': (0, 500001),
 'df_1000001': (500000, 1000001),
 'df_1500001': (1000000, 1500001),
 'df_2000001': (1500000, 2000001),
 'df_2500001': (2000000, 2500001),
 'df_3000001': (2500000, 3000001),
 'df_3500001': (3000000, 3500001),
 'df_4000001': (3500000, 4000001),
 'df_4500001': (4000000, 4500001)}

In [ ]:

for key, value in dictionary:
    key =

In [114]:
dictionary.items()

dict_items([('df_500001', (0, 500001)), ('df_1000001', (500000, 1000001)), ('df_1500001', (1000000, 1500001)), ('df_2000001', (1500000, 2000001)), ('df_2500001', (2000000, 2500001)), ('df_3000001', (2500000, 3000001)), ('df_3500001', (3000000, 3500001)), ('df_4000001', (3500000, 4000001)), ('df_4500001', (4000000, 4500001))])

In [117]:
for item in dictionary.items():
    something =

('df_500001', (0, 500001))
('df_1000001', (500000, 1000001))
('df_1500001', (1000000, 1500001))
('df_2000001', (1500000, 2000001))
('df_2500001', (2000000, 2500001))
('df_3000001', (2500000, 3000001))
('df_3500001', (3000000, 3500001))
('df_4000001', (3500000, 4000001))
('df_4500001', (4000000, 4500001))

In [118]:
print('hello')

hello

In [121]:
hello = 1

In [122]:
eval('hello')

1

In [124]:
locals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'import numpy as np\nimport pandas as pd\nimport os',
  'os.listdir()',
  "os.listdir('..')",
  "os.listdir('../datasets')",
  "df = pd.read_csv('../datasets/home_value_data.csv')\ndf.head()",
  'df.info()',
  'df.zip_code = df.zip_code.astype(str)',
  'df.info()',
  'df.date = pd.to_datetime(df.date, format=%y%m)',
  'df.date = pd.to_datetime(df.date, format=%Y%m)',
  'df.value.value_counts()',
  'df.date.min()',
  'df.date.min(), df.date.max()',
  'df[1]',
  'df[1:7]',
  'range(0,10,2)',
  'x = range(0,10,2)\nx',
  'x = range(0,10,2)\nprint(x)',
  'for i in range(0,10,2):\n    print(i)',
  'for i in range(0,len(df),1000000):\n    print(i)',
  'for i in range(0,len(df),500000):\n    print(i)',
  'for i in range(0,len(df),1000000):\n    x = df[i:(i + 500000)]\n    print(x)',
  'df_1 = df[:500000]\ndf_1.info()',
  '#df_1 = df[:500000]\ndf_1.head()',
  'df_1 = df[:500000]\ndf_1.info()',
  'list = []\n\nfor i in range(0,4202944, 500000):\n    print(i)',
  'list = []\n\nfor i in range(0,4202944, 500000):\n    print(i)\n    x, y = i, (i + 500000)\n    print(x, y)',
  'list = []\n\nfor i in range(0,4202944, 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)',
  "d = {}\ni = 0\nfor sigma2_n in np.arange(0.2,0.9):\n    d['p_y_given_x'+str(i)] = np.exp(-(y_new-alphabet[t])**2/2/sigma2_N)\n    i += 1",
  'list = []\n\nfor i in range(0,4202944, 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)\n    z = df_+str(i)\n    print(z)',
  'dfs = []\nranges = []\n\nfor i in range(0,4202944, 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)\n    print(z)',
  'dfs = []\nranges = []\n\nfor i in range(0,4202944, 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)',
  'dfs = []\nranges = []\n\nfor i in range(0,4202944, 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)',
  'dfs = []\nranges = []\n\nfor i in range(0,4202944, 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)',
  'dfs = []\nranges = []\n\nfor i in range(0,4202944, 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)\n    ranges.append(x, y)',
  'dfs = []\nranges = []\n\nfor i in range(0,4202944, 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)\n    ranges.append((x, y)',
  'dfs = []\nranges = []\n\nfor i in range(0,4202944, 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)\n    ranges.append((x, y))',
  'ranges',
  "dfs = []\nranges = []\n\nfor i in range(0,4202944, 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)\n    ranges.append((x, y))\n    df = 'df_' + str(i)",
  'ranges',
  'dfs',
  "dfs = []\nranges = []\n\nfor i in range(0,4202944, 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)\n    ranges.append((x, y))\n    df = 'df_' + str(i)\n    dfs.append(df)",
  'dfs',
  "dfs = []\nranges = []\n\nfor i in range(0,4202944, 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)\n    ranges.append((x, y))\n    df = 'df_' + str(y)\n    dfs.append(df)",
  'dfs',
  "dfs = []\nranges = []\n\nfor i in range(0,len(df), 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)\n    ranges.append((x, y))\n    df = 'df_' + str(y)\n    dfs.append(df)",
  'dfs',
  'import numpy as np\nimport pandas as pd\nimport os',
  "os.listdir('../datasets')",
  "df = pd.read_csv('../datasets/home_value_data.csv')\ndf.head()",
  'df.info()',
  'df.zip_code = df.zip_code.astype(str)',
  'df.value.value_counts()',
  'df.date.min(), df.date.max()',
  'for i in range(0,len(df),500000):\n    print(i)',
  "dfs = []\nranges = []\n\nfor i in range(0,len(df), 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)\n    ranges.append((x, y))\n    df = 'df_' + str(y)\n    dfs.append(df)",
  'dfs',
  'ranges',
  'for i in range(0,len(df),500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)',
  'for i in range(0,len(df),4500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)',
  'import numpy as np\nimport pandas as pd\nimport os',
  "os.listdir('../datasets')",
  "df = pd.read_csv('../datasets/home_value_data.csv')\ndf.head()",
  'df.info()',
  'df.zip_code = df.zip_code.astype(str)',
  'df.value.value_counts()',
  'df.date.min(), df.date.max()',
  'for i in range(0, len(df), 4500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)',
  "dfs = []\nranges = []\n\nfor i in range(0,len(df), 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)\n    ranges.append((x, y))\n    df = 'df_' + str(y)\n    dfs.append(df)",
  'for i in range(0, len(df), 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)',
  'for i in range(0, len(df), 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)',
  "dfs = []\nranges = []\n\nfor i in range(0, len(df), 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)\n    ranges.append((x, y))\n    df = 'df_' + str(y)\n    dfs.append(df)",
  "dfs = []\nranges = []\n\nfor i in range(0, len(df), 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)\n    ranges.append((x, y))\n    df = 'df_' + str(y)\n    dfs.append(df)",
  'import numpy as np\nimport pandas as pd\nimport os',
  "os.listdir('../datasets')",
  "df = pd.read_csv('../datasets/home_value_data.csv')\ndf.head()",
  'df.info()',
  'df.zip_code = df.zip_code.astype(str)',
  'df.value.value_counts()',
  'df.date.min(), df.date.max()',
  "dfs = []\nranges = []\n\nfor i in range(0, len(df), 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)\n    ranges.append((x, y))\n    df = 'df_' + str(y)\n    dfs.append(df)",
  'dfs',
  'ranges',
  'import numpy as np\nimport pandas as pd\nimport os',
  "os.listdir('../datasets')",
  "df = pd.read_csv('../datasets/home_value_data.csv')\ndf.head()",
  'df.info()',
  'df.zip_code = df.zip_code.astype(str)',
  'df.value.value_counts()',
  'df.date.min(), df.date.max()',
  'dictionary = {}\n\nfor i in range(0, len(df), 500000):\n    dictionary.update({df: (x, y)})',
  "dictionary = {}\n\nfor i in range(0, len(df), 500000):\n    x, y = i, (i + 500001)\n    df = 'df_' + str(i)\n    dictionary.update({df: (x, y)})",
  'dictionary',
  "dictionary = {}\n\nfor i in range(0, len(df), 500000):\n    x, y = i, (i + 500001)\n    df = 'df_' + str(y)\n    dictionary.update({df: (x, y)})",
  'dictionary',
  'import numpy as np\nimport pandas as pd\nimport os',
  "os.listdir('../datasets')",
  "df = pd.read_csv('../datasets/home_value_data.csv')\ndf.head()",
  'df.info()',
  'df.zip_code = df.zip_code.astype(str)',
  'df.value.value_counts()',
  'df.date.min(), df.date.max()',
  "dictionary = {}\n\nfor i in range(0, len(df), 500000):\n    x, y = i, (i + 500001)\n    df = 'df_' + str(y)\n    dictionary.update({df: (x, y)})",
  'dictionary',
  'import numpy as np\nimport pandas as pd\nimport os',
  "os.listdir('../datasets')",
  "df = pd.read_csv('../datasets/home_value_data.csv')\ndf.head()",
  'df.info()',
  'df.zip_code = df.zip_code.astype(str)',
  'df.value.value_counts()',
  'df.date.min(), df.date.max()',
  "dictionary = {}\n\nfor i in range(0, len(df), 500000):\n    x, y = i, (i + 500001)\n    df_name = 'df_' + str(y)\n    dictionary.update({df_name: (x, y)})",
  'dictionary',
  'dictionary.items()',
  'for item in dictionary.items():\n    print(item)',
  'for item in dictionary.items():\n    print(key)',
  'for item in dictionary.items():\n    print(item)',
  "print('hello')",
  "print(eval('hello'))",
  "eval('hello')",
  'hello = 1',
  "eval('hello')",
  "locals('hey')",
  'locals()'],
 '_oh': {2: ['.ipynb_checkpoints', 'Untitled.ipynb'],
  3: ['.git',
   '.gitignore',
   'datasets',
   'data_prep',
   'project_queries',
   'README.md'],
  4: ['home_value_data.csv'],
  5:    zip_code     city state                     metro       county     date  \
  0     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-04
  1     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-05
  2     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-06
  3     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-07
  4     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-08

        value
  0  334200.0
  1  335400.0
  2  336500.0
  3  337600.0
  4  338500.0  ,
  11: 85100.0      2611
  89000.0      2589
  88200.0      2568
  89400.0      2564
  84700.0      2560
               ...
  2229300.0       1
  2229100.0       1
  2229000.0       1
  2228800.0       1
  2001400.0       1
  Name: value, Length: 24969, dtype: int64,
  12: '1996-04',
  13: ('1996-04', '2018-11'),
  15:   zip_code     city state                     metro       county     date  \
  1    60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-05
  2    60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-06
  3    60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-07
  4    60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-08
  5    60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-09
  6    60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-10

        value
  1  335400.0
  2  336500.0
  3  337600.0
  4  338500.0
  5  339500.0
  6  340400.0  ,
  16: range(0, 10, 2),
  17: range(0, 10, 2),
  24:   zip_code     city state                     metro       county     date  \
  0    60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-04
  1    60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-05
  2    60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-06
  3    60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-07
  4    60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-08

        value
  0  334200.0
  1  335400.0
  2  336500.0
  3  337600.0
  4  338500.0  ,
  38: [(0, 500001),
   (500000, 1000001),
   (1000000, 1500001),
   (1500000, 2000001),
   (2000000, 2500001),
   (2500000, 3000001),
   (3000000, 3500001),
   (3500000, 4000001),
   (4000000, 4500001)],
  40: [(0, 500001),
   (500000, 1000001),
   (1000000, 1500001),
   (1500000, 2000001),
   (2000000, 2500001),
   (2500000, 3000001),
   (3000000, 3500001),
   (3500000, 4000001),
   (4000000, 4500001)],
  41: [],
  43: ['df_0',
   'df_500000',
   'df_1000000',
   'df_1500000',
   'df_2000000',
   'df_2500000',
   'df_3000000',
   'df_3500000',
   'df_4000000'],
  45: ['df_500001',
   'df_1000001',
   'df_1500001',
   'df_2000001',
   'df_2500001',
   'df_3000001',
   'df_3500001',
   'df_4000001',
   'df_4500001'],
  47: ['df_500001'],
  49: ['home_value_data.csv'],
  50:    zip_code     city state                     metro       county     date  \
  0     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-04
  1     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-05
  2     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-06
  3     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-07
  4     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-08

        value
  0  334200.0
  1  335400.0
  2  336500.0
  3  337600.0
  4  338500.0  ,
  53: 85100.0      2611
  89000.0      2589
  88200.0      2568
  89400.0      2564
  84700.0      2560
               ...
  2229300.0       1
  2229100.0       1
  2229000.0       1
  2228800.0       1
  2001400.0       1
  Name: value, Length: 24969, dtype: int64,
  54: ('1996-04', '2018-11'),
  57: ['df_500001',
   'df_1000001',
   'df_1500001',
   'df_2000001',
   'df_2500001',
   'df_3000001',
   'df_3500001',
   'df_4000001',
   'df_4500001'],
  58: [(0, 500001),
   (500000, 1000001),
   (1000000, 1500001),
   (1500000, 2000001),
   (2000000, 2500001),
   (2500000, 3000001),
   (3000000, 3500001),
   (3500000, 4000001),
   (4000000, 4500001)],
  62: ['home_value_data.csv'],
  63:    zip_code     city state                     metro       county     date  \
  0     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-04
  1     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-05
  2     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-06
  3     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-07
  4     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-08

        value
  0  334200.0
  1  335400.0
  2  336500.0
  3  337600.0
  4  338500.0  ,
  66: 85100.0      2611
  89000.0      2589
  88200.0      2568
  89400.0      2564
  84700.0      2560
               ...
  2229300.0       1
  2229100.0       1
  2229000.0       1
  2228800.0       1
  2001400.0       1
  Name: value, Length: 24969, dtype: int64,
  67: ('1996-04', '2018-11'),
  75: ['home_value_data.csv'],
  76:    zip_code     city state                     metro       county     date  \
  0     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-04
  1     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-05
  2     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-06
  3     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-07
  4     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-08

        value
  0  334200.0
  1  335400.0
  2  336500.0
  3  337600.0
  4  338500.0  ,
  79: 85100.0      2611
  89000.0      2589
  88200.0      2568
  89400.0      2564
  84700.0      2560
               ...
  2229300.0       1
  2229100.0       1
  2229000.0       1
  2228800.0       1
  2001400.0       1
  Name: value, Length: 24969, dtype: int64,
  80: ('1996-04', '2018-11'),
  82: ['df_500001',
   'df_1000001',
   'df_1500001',
   'df_2000001',
   'df_2500001',
   'df_3000001',
   'df_3500001',
   'df_4000001',
   'df_4500001'],
  83: [(0, 500001),
   (500000, 1000001),
   (1000000, 1500001),
   (1500000, 2000001),
   (2000000, 2500001),
   (2500000, 3000001),
   (3000000, 3500001),
   (3500000, 4000001),
   (4000000, 4500001)],
  85: ['home_value_data.csv'],
  86:    zip_code     city state                     metro       county     date  \
  0     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-04
  1     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-05
  2     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-06
  3     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-07
  4     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-08

        value
  0  334200.0
  1  335400.0
  2  336500.0
  3  337600.0
  4  338500.0  ,
  89: 85100.0      2611
  89000.0      2589
  88200.0      2568
  89400.0      2564
  84700.0      2560
               ...
  2229300.0       1
  2229100.0       1
  2229000.0       1
  2228800.0       1
  2001400.0       1
  Name: value, Length: 24969, dtype: int64,
  90: ('1996-04', '2018-11'),
  93: {'df_0': (0, 500001),
   'df_500000': (500000, 1000001),
   'df_1000000': (1000000, 1500001),
   'df_1500000': (1500000, 2000001),
   'df_2000000': (2000000, 2500001),
   'df_2500000': (2500000, 3000001),
   'df_3000000': (3000000, 3500001),
   'df_3500000': (3500000, 4000001),
   'df_4000000': (4000000, 4500001)},
  95: {'df_500001': (0, 500001)},
  97: ['home_value_data.csv'],
  98:    zip_code     city state                     metro       county     date  \
  0     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-04
  1     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-05
  2     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-06
  3     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-07
  4     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-08

        value
  0  334200.0
  1  335400.0
  2  336500.0
  3  337600.0
  4  338500.0  ,
  101: 85100.0      2611
  89000.0      2589
  88200.0      2568
  89400.0      2564
  84700.0      2560
               ...
  2229300.0       1
  2229100.0       1
  2229000.0       1
  2228800.0       1
  2001400.0       1
  Name: value, Length: 24969, dtype: int64,
  102: ('1996-04', '2018-11'),
  104: {'df_500001': (0, 500001),
   'df_1000001': (500000, 1000001),
   'df_1500001': (1000000, 1500001),
   'df_2000001': (1500000, 2000001),
   'df_2500001': (2000000, 2500001),
   'df_3000001': (2500000, 3000001),
   'df_3500001': (3000000, 3500001),
   'df_4000001': (3500000, 4000001),
   'df_4500001': (4000000, 4500001)},
  106: ['home_value_data.csv'],
  107:    zip_code     city state                     metro       county     date  \
  0     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-04
  1     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-05
  2     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-06
  3     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-07
  4     60657  Chicago    IL  Chicago-Naperville-Elgin  Cook County  1996-08

        value
  0  334200.0
  1  335400.0
  2  336500.0
  3  337600.0
  4  338500.0  ,
  110: 85100.0      2611
  89000.0      2589
  88200.0      2568
  89400.0      2564
  84700.0      2560
               ...
  2229300.0       1
  2229100.0       1
  2229000.0       1
  2228800.0       1
  2001400.0       1
  Name: value, Length: 24969, dtype: int64,
  111: ('1996-04', '2018-11'),
  113: {'df_500001': (0, 500001),
   'df_1000001': (500000, 1000001),
   'df_1500001': (1000000, 1500001),
   'df_2000001': (1500000, 2000001),
   'df_2500001': (2000000, 2500001),
   'df_3000001': (2500000, 3000001),
   'df_3500001': (3000000, 3500001),
   'df_4000001': (3500000, 4000001),
   'df_4500001': (4000000, 4500001)},
  114: dict_items([('df_500001', (0, 500001)), ('df_1000001', (500000, 1000001)), ('df_1500001', (1000000, 1500001)), ('df_2000001', (1500000, 2000001)), ('df_2500001', (2000000, 2500001)), ('df_3000001', (2500000, 3000001)), ('df_3500001', (3000000, 3500001)), ('df_4000001', (3500000, 4000001)), ('df_4500001', (4000000, 4500001))]),
  122: 1},
 '_dh': ['C:\\Users\\Matt\\Documents\\sql_assignments\\home_values_analysis\\data_prep'],
 'In': ['',
  'import numpy as np\nimport pandas as pd\nimport os',
  'os.listdir()',
  "os.listdir('..')",
  "os.listdir('../datasets')",
  "df = pd.read_csv('../datasets/home_value_data.csv')\ndf.head()",
  'df.info()',
  'df.zip_code = df.zip_code.astype(str)',
  'df.info()',
  'df.date = pd.to_datetime(df.date, format=%y%m)',
  'df.date = pd.to_datetime(df.date, format=%Y%m)',
  'df.value.value_counts()',
  'df.date.min()',
  'df.date.min(), df.date.max()',
  'df[1]',
  'df[1:7]',
  'range(0,10,2)',
  'x = range(0,10,2)\nx',
  'x = range(0,10,2)\nprint(x)',
  'for i in range(0,10,2):\n    print(i)',
  'for i in range(0,len(df),1000000):\n    print(i)',
  'for i in range(0,len(df),500000):\n    print(i)',
  'for i in range(0,len(df),1000000):\n    x = df[i:(i + 500000)]\n    print(x)',
  'df_1 = df[:500000]\ndf_1.info()',
  '#df_1 = df[:500000]\ndf_1.head()',
  'df_1 = df[:500000]\ndf_1.info()',
  'list = []\n\nfor i in range(0,4202944, 500000):\n    print(i)',
  'list = []\n\nfor i in range(0,4202944, 500000):\n    print(i)\n    x, y = i, (i + 500000)\n    print(x, y)',
  'list = []\n\nfor i in range(0,4202944, 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)',
  "d = {}\ni = 0\nfor sigma2_n in np.arange(0.2,0.9):\n    d['p_y_given_x'+str(i)] = np.exp(-(y_new-alphabet[t])**2/2/sigma2_N)\n    i += 1",
  'list = []\n\nfor i in range(0,4202944, 500000):\n    print(i)\n    x, y = i, (i + 500001)\n    print(x, y)\n    z = df_+str(i)\n    print(z)',

In [127]:
print('iWantAVariableWithThisName' in locals())
junkVar = 'iWantAVariableWithThisName'
exec(junkVar + " = 1")
print('iWantAVariableWithThisName' in locals())

False
True

In [128]:
iWantAVariableWithThisName

1

In [130]:
junk2 = 'dictionary_key'
exec(junk2 + '= 1')

In [131]:
dictionary_key

1

In [133]:
# final version
junk3 = 'dictionary_key2'
exec(junk3 + '= df[0:500001]')

df[value[0]:value[1]]

In [134]:
junk3

'dictionary_key2'

In [135]:
dictionary_key2

,zip_code,city,state,metro,county,date,value
0,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1996-04,334200.0
1,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1996-05,335400.0
2,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1996-06,336500.0
3,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1996-07,337600.0
4,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1996-08,338500.0
...,...,...,...,...,...,...,...
499996,75075,Plano,TX,Dallas-Fort Worth-Arlington,Collin County,2001-04,158700.0
499997,75075,Plano,TX,Dallas-Fort Worth-Arlington,Collin County,2001-05,158600.0
499998,75075,Plano,TX,Dallas-Fort Worth-Arlington,Collin County,2001-06,158600.0
499999,75075,Plano,TX,Dallas-Fort Worth-Arlington,Collin County,2001-07,158700.0
500000,75075,Plano,TX,Dallas-Fort Worth-Arlington,Collin County,2001-08,159000.0

In [ ]:
for each key value pair in my dictionary:
    junkvar = 'dictionary_key'
    exec(junkvar + 'df[{value[0]}: {value[1]}]')